*{
    font-family: 'Roboto', sans-serif;
}

.conteiner{
    width: 600px;
    margin: 100px auto;
}

.conteiner__title{
    text-align: center;
}

.input{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="text"], input[type="password"], button{
    padding: 10px 5px;
}

input[type="text"], input[type="password"]{
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.495);
}

button{
    background-color: #7b00df;
    color: white;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

@media(max-width:600px) {
    .conteiner{
        width: 350px;
    }
}