.header__enterReg {
    border-bottom: 1px solid black;
}

.entrance,
.registration {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    padding: 60px 30px 60px 30px;
    border: 1px solid black;
}

.registration {
    padding: 50px 30px 50px 30px;
    margin-top: 30px;
    margin-bottom: 100px;
}

header {
    padding-bottom: 100px;
}

.entrance__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.entrance__text,
.entrance__type_password {
    height: 35px;
    width: 100%;
    outline: none;
    padding: 10px 0px 10px 25px;
    background-color: #EAE5D7;
    border: 1px solid black;
}

.entrance__type_password::-ms-reveal {
    display: none;
}

.entrance__text::placeholder,
.entrance__type_password::placeholder {
    color: black;
}

.entrance__type_password {
    position: relative;
}

.enterance__img_password {
    width: 20px;
    position: absolute;
    margin-left: -40px;
    margin-top: 7.5px;
    cursor: pointer;
}

.entrance__password {
    background: url(/img/passw1.png) no-repeat;
    background-size: 20px;
    background-position: 250px;
}

.entrance__btn,
.registration__btn {
    height: 35px;
    width: 100%;
    background-color: black;
    color: #EAE5D7;
    border: none;
}

.registration__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
}

.registration__desc {
    text-align: center;
    font-size: 14px;
    opacity: 0.5;
}

@media(max-width:725px) {
    .entrance__title {
        font-size: 30px;
    }
}

@media(max-width:380px) {

    .entrance,
    .registration {
        width: 250px;
        gap: 20px;
        padding: 50px 20px 50px 20px;
    }

    .registration {
        padding: 40px 20px 40px 20px;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    header {
        padding-bottom: 60px;
    }

    .entrance__title {
        font-size: 20px;
    }

    .entrance__text,
    .entrance__type_password,
    .entrance__btn,
    .registration__btn {
        height: 25px;
    }

    .entrance__type_password {
        background-size: 14px;
        background-position: 175px;
    }

    .registration__desc {
        font-size: 10px;
    }

    .enterance__img_password {
        width: 17px;
        margin-left: -35px;
        margin-top: 5px;
    }

}